{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Boilerplate for Django-based Angular webapp on Google App Engine">
<meta name="author" content="Lim">
<title>Mocking Bird</title>
<script type="text/javascript" src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>
<div class="container"> 
<div>
    <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello [[ yourName ]]!</h1>
    </div>
</div>
{% block scripts %}
{% endblock %}
</div>
</body>
</html>
