%nav.navbar.navbar-inverse.col-md-12{"role" => "navigation", "style" => "border-radius: 0px;"}
  .container-fluid
    .navbar-header
      %a.navbar-brand{"href" => "javascript: void(0)", "style" => "font-size: 25px;"} Mockingbird
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          Username goes here
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li
              %a{href: "#"} Action
            %li
              %a{href: "#"} Another action
            %li
              %a{href: "#"} Something else here
            %li.divider
            %li
              %a{href: "#"} Separated link
.container
  .row
    .col-sm-12.col-md-12.col-lg-8.col-lg-offset-2.text-center
      %h1 Mockingbird
  .row
    .col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
      .row
        .col-sm-12.col-md-5.col-lg-4
          %p{"style" => "font-size: 20px;"} Challenge
        %img.col-sm-12.col-md-7.col-lg-8{"alt" => "sample file", "src" => "http://electro35band.com/wp-content/uploads/2013/01/audio.jpg"}
    .col-sm-12.col-md-12.col-lg-8.col-lg-offset-2{"style" => "margin-top: 20px;"}
      .row
        .col-sm-12.col-md-5.col-lg-4
          %p{"style" => "font-size: 20px;"} Submit
        .col-sm-12.col-md-6.col-lg-6.text-center
          .row
            .col-sm-12.col-md-6.col-lg-6.text-center
              %button.btn.btn-info{"type" => "button", "ng-init" => "showRecordingPanel = false",
                "ng-click" => "showRecordingPanel = !showRecordingPanel"}
                {{!showRecordingPanel && 'Start recording' || 'x'}}
            .col-sm-12.col-md-6.col-lg-6.text-center
              .btn.btn-info{"ng-file-select" => "uploadEventHandler($files)", "data-multiple" => "true"}
                Upload

  .row{"ng-show" => "showRecordingPanel"}
    .col-sm-12.col-md-12.col-lg-8.col-lg-offset-2.text-center{"style" => "margin-top: 20px;"}
      %p.lead Start Recording
    %img.col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3{"alt" => "sample file", "src" => "http://electro35band.com/wp-content/uploads/2013/01/audio.jpg"}
    .col-sm-12.col-md-12.col-lg-8.col-lg-offset-2.text-center{"style" => "margin-top: 20px;"}
      %button.btn.btn-default{"type" => "button", "ng-click" => "recordStartEventHandler()"}
        Start
        %i.fa.fa-play
      %button.btn.btn-default{"type" => "button", "ng-click" => "recordStopEventHandler()"}
        Stop
        %i.fa.fa-stop
  .row
    .col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
      .row.text-center
        .col-sm-6.col-md-12.col-lg-12{"style" => "margin-top: 50px;"}
          %p.lead User result
        .col-sm-6.col-md-4.col-md-offset-2.col-lg-2.col-lg-offset-2.btn
          %h4.text-center Accuracy
          %span.label.label-success.text-center 90%
        .col-sm-6.col-md-4.col-lg-2.col-lg-offset-4.btn
          %h4.text-center Mood
          %span.label.label-success.text-center Happy
  .row
    .col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
      %h2 Leader Board
    .col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
      %table.table
        %thead
          %tr
            %th Accuracy
            %th Moode
            %th User vote
        %tbody
          %tr{"ng-repeat" => "record in leaderBoards"}
            %td {{record.accuracy}}
            %td {{record.mood}}
            %td {{record.userVote}}
